* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5; /* полоска снизу 4 пикселя синяя*/
}
.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex; /*сделали блоки гибкими */
  justify-content: space-between; /*расставили элементы по краям */
  align-items: center;
}
.navbar-menu {
  margin: 0; /*откючаем внешние отступы */
  padding: 0; /*откючаем ввнутренниие отступы */
  list-style: none; /*откючаем точки у списка */
  display: flex; /*сделали блоки гибкими */
  text-align: center;
}
.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link {
  text-decoration: none;
  color: #fff;
}
.navbar-contacts {
  text-align: right;
}
.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}
.navbar-phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}
